<!-- base.html 에서 확장함 -->
{% extends 'base.html' %}




{% block content %}

    <style>
        .testing {
            display: inline-block;
            background-color: yellow;
            height: 48px;
            width: 48px;
            margin: 1rem;
            border-radius: .5rem;
        }
    </style>

    <div style="margin:2rem 0; text-align: center;">
        <h1>METHOD</h1>

        <form action="/accounts/hello_world/" method="post">
            {% csrf_token %}
            <input type="submit" class = "py-5 btn btn-success rounded-pill">
        </form>
        <h3>{{ text }}</h3>

    </div>
{% endblock %}