{% extends 'base.html' %}


{% block content %}
    <div class="container">
        <div>
            <h1>{{ target_article.title }}</h1>
            <h4>{{ target_article.writer.profile.nickname }}</h4>
            <h4>{{ target_article.created_at }}</h4>
        </div>

        <div>
            <img src="{{ target_article.image.url }}" alt="">
            <h4>{{ target_article.content }}</h4>
            <div>
                <a href="{% url 'articleapp:update' pk=target_article.pk %}"
                class="btn btn-success rounded-pill px-5">수정</a>
            </div>
        </div>



    </div>
{% endblock %}